html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(63, 238, 63);
  position: relative;
}

/* Allah Name List Component */

.name-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allah-name-list-container {
  color: #c8bb00;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.main-name-structure {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

.main-name {
  width: 87px;
  height: 87px;
  position: absolute;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.each-name-list-structure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-outline-image {
  position: relative;
  width: 150px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.list-each-name {
  width: 87px;
  height: 87px;
  position: absolute;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
}

.name-section-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(50% + 2vmin); */
  color: rgb(41, 41, 41);
  /* position: relative; */
}

.section-header-name {
  text-align: center;
  font-size: 17px;
}

.name-container {
  width: 80vw;
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gotoName {
  top: 10px;
  display: flex;
  justify-content: center;
}
.name-section {
  position: absolute;
  top: 100px;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-and-meaning-holder {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.name-holder {
  width: 200px;
  height: 160px;
}

.number,
.allah-name-arabic,
.allah-name-translation,
.meaning,
.description {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
.allah-name-arabic {
  position: absolute;
  font-size: 19px;
  color: rgb(209, 209, 4);
  z-index: 2;
  top: 40%;
  left: 20%;
}
.number {
  position: absolute;
  top: 78%;
  left: 17%;
  font-size: 11px;
  color: rgb(36, 153, 0);
}
.allah-name-translation {
  position: absolute;
  color: rgb(36, 153, 0);
  z-index: 2;
  top: 78%;
  left: 30%;
  font-size: 11px;
}

.description {
  font-size: 11px;
  font-weight: 400;
  text-align: left;
}

.margin-bottom {
  margin-bottom: 20px;
}

.no-style-type {
  list-style-type: none;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 70%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(201, 228, 0);
  color: black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s all linear;
}
.left-arrow:hover,
.right-arrow:hover {
  transform: scale(1.2);
}

.left-arrow:active,
.right-arrow:active {
  transform: scale(1.1);
}

.right-arrow {
  right: 25px;
  bottom: 50px;
}

.left-arrow {
  left: 25px;
  bottom: 50px;
}

.App-link {
  color: #61dafb;
}

@media only screen and (min-width: 70px) and (max-width: 767px) {
  .name-container {
    font-size: 11px;
    width: 100vw;
  }
  .gotoName {
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .go-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .name-section {
    width: 90%;
  }

  .name-holder {
    width: 285px;
    height: 150px;
    align-items: center;
  }

  .allah-name-arabic {
    left: 37%;
    top: 37%;
    font-size: 10px;
  }

  .allah-name-translation {
    top: 80%;
    font-size: 13px;
    left: 36%;
    width: 150px;
  }
  .number {
    top: 80%;
    left: 27%;
    font-size: 15px;
    color: rgb(36, 153, 0);
  }

  .meaning {
    width: 250px;
    font-size: 15px;
    padding: 0;
  }
  .allah-name-arabic {
    font-size: 20px;
  }
  .description {
    font-size: 11px;
    width: 250px;
    padding: 10px;
  }
  .left-arrow,
  .right-arrow {
    top: 70%;
  }
  .right-arrow {
    right: 25px;
  }

  .left-arrow {
    left: 25px;
    /* bottom: 50px; */
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .name-container {
    font-size: 12px;
    width: 90vw;
  }

  .description {
    padding: -20px;
  }

  .name-holder {
    width: 300px;
  }

  .gotoName {
    position: absolute;
  }
  .name-section {
    width: 60%;
  }
  .allah-name-arabic {
    left: 37%;
    top: 37%;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .name-container {
    font-size: 14px;
  }
  .gotoName {
    top: 10px;
    position: absolute;
  }
  .name-holder {
    width: 200px;
  }

  .allah-name-arabic {
    left: 39%;
    top: 40%;
    font-size: 17px;
  }
}

@media only screen and (min-width: 1200px) {
  .name-container {
    font-size: 15px;
  }
  .gotoName {
    top: 10px;
    position: absolute;
  }
  .allah-name-arabic {
    font-size: 20px;
    left: 37%;
  }
}

@media only screen and (min-width: 1200px) {
  .name-container {
    font-size: 15px;
  }
  .gotoName {
    top: 10px;
    position: absolute;
  }

  .name-holder {
    width: 280px;
  }

  .allah-name-arabic {
    font-size: 20px;
    left: 40%;
  }
}
