html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(63, 238, 63);
  position: relative;
}

.name-section-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(50% + 2vmin); */
  color: rgb(41, 41, 41);
  /* position: relative; */
}

.name-container {
  width: 80vw;
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gotoName {
  top: 10px;
  /* right: 0; */
  display: flex;
  justify-content: center;
}
.name-section {
  position: absolute;
  top: 100px;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.number,
.allah-name-arabic,
.allah-name-english,
.meaning,
.description {
  border-bottom: 2px solid rgb(46, 46, 46);
  padding: 5px;
  box-shadow: 1px 1px 15px 10px rgba(32, 45, 49, 0.911);
  text-align: center;
  font-weight: bold;
}
.description {
  font-size: 11px;
  font-weight: 400;
  height: fit-content !important;
}
.allah-name-arabic {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  color: rgb(36, 153, 0);
}
.allah-name-english {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 153, 0);
}

.description {
  padding-right: 20px;
  text-align: left;
  height: 250px;
  line-height: 145%;
}

.margin-bottom {
  margin-bottom: 20px;
}

.no-style-type {
  list-style-type: none;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(201, 228, 0);
  color: black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s all linear;
}
.left-arrow:hover,
.right-arrow:hover {
  transform: scale(1.2);
}

.left-arrow:active,
.right-arrow:active {
  transform: scale(1.1);
}

.right-arrow {
  right: 25px;
  bottom: 50px;
}

.left-arrow {
  left: 25px;
  bottom: 50px;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 480px) {
  .name-container {
    font-size: 11px;
    width: 100vw;
  }
  .gotoName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .go-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .name-section {
    width: 90%;
  }
  .description {
    padding: 0 0 0 -10px;
  }
  .left-arrow,
  .right-arrow {
    margin-top: 40px;
  }
  .right-arrow {
    right: 25px;
  }

  .left-arrow {
    left: 25px;
    /* bottom: 50px; */
  }
}

@media only screen and (max-width: 767px) {
  .name-container {
    font-size: 12px;
    width: 90vw;
  }
  .description {
    padding: -20px;
  }
  .gotoName {
    position: absolute;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .name-container {
    font-size: 14px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .name-container {
    font-size: 15px;
  }
}

@media (min-width: 1281px) {
  .name-container {
    font-size: 15px;
  }
}
